<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>

    <link rel="stylesheet" href="/Styles/admin.css">

</head>
<body>
    <div class="login-container">
        <h2>Bienvenido Administrator</h2>
        <input type="submit" id="btnCrear" value="Registrar Usuario"  class="btn btn-primary">
        <input type="text" id="edtemail" placeholder="Correo Electronico" required>
        <input type="submit" id="btnRecuperar" value="Cambiar Contraseña"  class="btn btn-primary">
        <input type="submit" id="btnCerrarSesion" value="Cerrar Sesión"  class="btn btn-primary">
    </div>
    <script type="module" src="/Controllers/main_admin.js"></script>

</body>
</html>