<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" href="/Styles/usuario.css">
</head>
<body>
    <div class="login-container">
        <h2>Bienvenido Usuario</h2>
        <input type="text" id="edtcorreo" placeholder="Correo Electronico" required>
        <input type="submit" id="btnrecuperar" value="Cambiar Contraseña"  class="btn btn-primary">
        <input type="submit" id="btnlogout" value="Cerrar Sesión"  class="btn btn-primary">
    </div>

    <script type="module" src="/Controllers/main_users.js"></script>

</body>
</html>