<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear usuario</title>
  <link rel="stylesheet" href="/Styles/registro.css">
</head>
<body>
  <div class="login-container">
    <h2>Registrar Nuevo Usuario</h2>
    <br>
    <input type="text" id="edtuser" placeholder="Correo Electrónico" required>
    <input type="password" id="edtpsw" placeholder="Contraseña" required>
    <input type="text" id="confirmEmail" placeholder="Confirmar Correo Electrónico" required>
    <input type="password" id="confirmPassword" placeholder="Confirmar Contraseña" required>
    <label for="togglePassword">
      <input type="checkbox" id="togglePassword"> Mostrar Contraseña
    </label>
    <!-- Selector de tipo de usuario -->
    <label for="userType">Tipo de Usuario:</label>
    <select id="userType">
      <option value="user">Usuario</option>
      <option value="admin">Administrador</option>
    </select>
    <input type="submit" id="btncrear" value="Registrar Usuario" class="btn btn-primary">
    <input type="submit" id="btnatras" value="Atrás" class="btn btn-primary">
  </div>

  <script type="module" src="/Controllers/registro.js"></script>
</body>
</html>
